@model SistemaRecursosHumanos.Core.Domain.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aspnetusers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aspnetusers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHorarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorarioNavigation.IdHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSolicitudNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSolicitudNavigation.IdSolicitud)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
